@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 1000vh;
}

header {
    z-index: 999;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 80em;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    background: linear-gradient(to right, #201F40, #F21616);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo img {
    height: 30px;
    width: 30px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: #201F40;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 16px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background, color;
}

header nav a:hover {
    background: linear-gradient(to bottom, #201F40, #F21616);
    color: #fff;
}

.tracking-input h2 {
    color: #201F40;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
}

.order-num {
    height: 50px;
    width: 400px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.search-btn {
    background-color: #201F40;
    color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: none;
    text-transform: uppercase;

}

.search-btn:hover {
    background-color: #F55050;
    color: #fff;
}

.tracking {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tracking-img img {
    width: 800px;
    height: 600px;
    float: right;
}

.landing-text h1 {
    font-family: "Poppins", sans-serif;
    color: #201F40;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.landing-text p {
    font-family: "Poppins", sans-serif;
    color: #201F40;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.landing {
    display: flex;
    justify-content: space-between;
}

.landing-img img {
    margin-top: 30px;
    margin-left: 30px;
    height: 600px;
    width: 800px;
}

.landing-text {
    margin-top: 200px;
    margin-right: 50px;
}

.sign-up {
    background-color: #201F40;
    color: #fff;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    margin-left: 50px;
}

.sign-up:hover {
    background-color: #F55050;
    color: #fff;
}
.stats{
    display: flex;
    justify-content: space-between;
    color: #201F40;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    
}
.stats-item{
    padding: 20px;
    border: 2px solid #201F40;
    border-radius: 10px;
    height: 100px;
    width: 170px;
}
.stats-item:hover{
    color: #fff;
    background-color: #201F40;
}


.pack{
    background-color:  #201F40;
    color: #fff;
    position: relative;
    width: 250px;
    height: 320px;
    text-align: center;
    padding-top: 50px;
    border-radius:10px ;

}

.packs-details h2{
    text-align: center;
    font-size: 35px;
}
.packs{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.pack:hover{
    background-color:#8e1f38;
    color: #fff;
}